{% load flatpage_menu %}
<!DOCTYPE HTML PUBLIC '-//W3C//DTD HTML 4.01//EN' 'http://www.w3.org/TR/html4/strict.dtd'>
<html>
<head>
	<title>q4wine :: {% block title %}news about q4wine development stuff and its community life.{% endblock %}</title>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
	<meta http-equiv='cache-control' content='public'>
	<meta name='keywords' content="q4wine,wine,winehq,Linux,Unix,BSD,Mac,Mac OS,OpenSource,news,wiki,documentation">
	<meta name='description' content="Official q4wine project page. Here is all news related to q4wine development stuff and its community life.">
	<meta name="robots" content="index, follow">
	<meta name="author" content="Design by John Brezerk. Developed by Opium.">
	<meta name="copyright" content="All trademarks and copyrights on this page are owned by their respective owners. Comments are owned by the Poster. The Rest &#169 1997-2009 BrezBlock.">
	<link href='/media/q4wine.css' rel='stylesheet' type='text/css'>
	<link rel="icon" type="image/png" href="/media/images/q4wine-ico.png" />
        <script src="/media/uncrypt.js"></script>
</head>
<body>
<table width='100%' border='0' cellspacing='0' cellpadding='0'>
  <tbody>
  <tr>
	 <td colspan='2' class='headline' valign='middle'>
		<table width='100%' border='0' cellspacing='0' cellpadding='0'>
			 <tbody>
			 <tr>
				<td>
				<div class='headtext'><img src='/media/images/q4wine-128x128.png' alt='q4wine'><img src='/media/images/q4wine.png' alt='q4wine'></div>
				</td>
			</tr>
			 </tbody>
		</table>
	 </td>
  </tr>
  <tr valign='top' class='body'>
	 <td style='width: 210px'>
	 <div class='menu'>
	 <div class='Lmenu_header'>
		  <div class='L_header'>General</div>
		  <ul>
                <!--flatpage_menu -->
				<li><a href='/about/'>About</a></li>
				<li><a href='/'>News</a></li>
				<li><a href='/documentation/'>Documentation</a></li>
				<li><a href='/download/'>Download</a></li>
				<li><a href='/faq/'>FAQ</a></li>
				<li><a href='/screenshots/'>Screenshots</a></li>
				<li><a href='http://github.com/brezerk/q4wine/tree/master'>Git repository</a></li>
				<li><a href='/sponsorship/'>Sponsorship</a></li>
				<li><a href='/links/'>Links</a></li>
		  </ul>
		  <div class='L_header'>Information</div>
		  <ul>
				<li><a href='https://sourceforge.net/projects/q4wine/'>SourceForge</a></li>
				<li><a href='http://www.qt-apps.org/content/show.php/q4wine?content=85751'>Qt-Apps</a></li>
				<li><a href='http://github.com/brezerk/q4wine/tree/master'>GitHub</a></li>
				<li><a href='http://freshmeat.net/projects/q4wine'>Freshmeat</a></li>
				<li><a href='http://www.wine-reviews.net/'>Wine Reviews</a></li>
		  </ul>
		  <div class='L_header'>Get involved</div>
		  <ul>
				<li><a href='/development/'>Development</a></li>
				<li><a href='/translations/'>Translations</a></li>
				<li><a href='/bugs/'>Bugs and Support</a></li>
		  </ul>
		  <div class='L_header'>Personal pages</div>
		  <ul>
				<li><a href='/brezerk/'>Brezerk</a></li>
			<li>	
		<a href="http://ua.linkedin.com/in/brezerk" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="http://www.linkedin.com/img/webpromo/btn_in_20x15.png" width="20" height="15" alt="View Brezerk's LinkedIn profile" style="vertical-align:middle;margin-bottom: 2px" border="0">View Brezerk's profile</span></a>
			</li>	
				
		  </ul>
		  <div class='L_header'>Send a gift</div>
		  <ul>
				<li><a href='/gifts/'>How?</a></li>
				<li><a href='/gifts/#steam'>Steam</a></li>
				<li><a href='/gifts/#gog'>GOG</a></li>
		  </ul>
		  <div class='L_header'>Send a donate</div>
		  <ul>
				<li><a href='/donate/'>How to help?</a></li>
		  </ul>
		  <div class='L_info_s'>
		 	<a href='http://www.wmtransfer.com/'><img style='margin-top: 10px; margin-bottom: 5px' src='/media/images/webmoney.gif' alt='We accept Webmoney'></a>
		
		        <div style='margin-left: 5px; text-align: left'>
		  	    <span style='color: black;'>USD:</span>&nbsp;Z348673551829<br>
			    <span style='color: black;'>EUR:</span>&nbsp;E185573594320<br>
			    <span style='color: black;'>UAH:</span>&nbsp;U152883987395<br>
			    <span style='color: black;'>RUB:</span>&nbsp;R137251190095<br>
		       </div>
		  </div>
		  <ul>
				<li><a href='http://q4wine.brezblock.org.ua/donate/#paypal'>Where is PayPal option?</a></li>
		  </ul>
		  <div class='L_header'>Awards</div>
		  <div class='L_info'><a href='http://validator.w3.org/check?uri=referer'><img src='/media/images/html41.gif' alt='Valid HTML 4.1'></a><br><a href='http://jigsaw.w3.org/css-validator/'><img src='/media/images/css.gif' alt='Valid CSS'></a><br></div>
		  </div>

	 <div class='L_header'>Wine stuff</div>
		  <div class='L_info'>
				  <a onblur="try {parent.deselectBloggerImageGracefully();} catch(e) {}" href="http://bordeauxgroup.com/store/bordeaux-software"><img style="margin-bottom: 5px; border: 1px solid #616161" src="http://q4wine.brezblock.org.ua/media/images/bordeaux-ad-small.png" alt="" id="BLOGGER_PHOTO_ID_5348446535493583394" border="0" /></a>
				  <a href='http://q4wine.brezblock.org.ua/'><img alt='q4wine-ad' src='http://q4wine.brezblock.org.ua/media/images/q4wine-ad.png'></a>
		  </div>
		  
	 </div>

	 </td><td class='body'>
     
     <div class='content'>

{% block content %}

<h2>Description</h2>
<p>
Q4Wine is a qt4[<a href='http://www.qtsoftware.com/'>1</a>] GUI for W.I.N.E.[<a href='http://winehq.org/'>2</a>]  It will help you manage wine prefixes and installed applications.
</p><p>Note: This software comes with absolutely no warranty. You will NOT get any support or help for WineTools, Wine, software installations, Linux or Microsoft Windows from the author.
</p><p>If you need help, ask the mailing lists at <a href='http://www.winehq.org/site/forums'>http://www.winehq.org/site/forums</a>.
</p><p>If you want support, buy the commercial version of wine: CodeWeavers CrossOver Office <a href='http://www.codeweavers.com'>http://www.codeweavers.com</a> for Desktop Applications.</p>

<h2>History</h2>
<p>q4wine was initially written by <a href='/brezerk/'>Alexey S. Malakhov</a> aka <a href='/brezerk/'>John Brezerk</a>.
</p><p>
General idea comes from WineTools scripts which were initially written by Frank Hendriksen.
</p>

<h2>General features</h2>

<ul>
<li>Can export QT color theme into wine colors settings.
<li>Can easy work with different wine versions at same time;
<li>Easy creating, deleting and managing prefixes (WINEPREFIX);
<li>Easy controlling for wine process;
<li>autostart icons support;
<li>Easy cd-image use;
<li>You can extract icons from PE files (.exe .dll);
<li>Easy backup and restore for managed prefixes.
<li>Winetriks support.
<li>and more... ;)
</ul>

<p>
License: GPL v3
</p>
<h2>Dependences:</h2>
<p>
app-admin/sudo<br>
app-emulation/wine<br>
>=dev-db/sqlite-3.5.6<br>
>=sys-apps/which-2.19<br>
>=media-gfx/icoutils-0.26.0<br>
</p>

{% for new in news %}
<h2>{{ new.date|date }} {{ new.title }}</h2>
<p>
{{ new.content }}
</p>

</p>
{% endfor %}

{% endblock %}
	 </div></td>
  </tr>
  <tr>
	 <td class='body'>&nbsp;</td><td class='body'><div class='sign'>
     <p>
     Design by <a href='javascript:linkTo_UnCryptMailto("pdlowr- euhchunCjpdlo1frp");'>Brezerk</a>. Developed by <a href='javascript:linkTo_UnCryptMailto("pdlowr- euhchunCjpdlo1frp");'>Brezerk</a> and <a href='javascript:linkTo_UnCryptMailto("pdlowr- rslxpCmdeehu1frp1xd");'>Opium</a>.<br>
All trademarks and copyrights on this page are owned by their respective owners.<br>
Comments are owned by the Poster.<br>
The Rest &#169; 1997-2009 <a href='http://brezblock.org.ua'>BrezBlock</a>.</p></div></td>
  </tr>
  </tbody>
</table>
</body>
</html>
